<div class="first">
    <div class="info">
        <img src="/img/logo.png" alt="Bibliotech Logo">
        <p>9 de cada 10 médicos recomiendan leer su libro en Bibliotech.</p>
    </div>
    <div class="botones">
        <a href="#">Manual de usuario</a>
        <a href="#">Terminos y condiciones</a>
        <a href="#">Contacto</a>
    </div>
</div>
<hr class="barra">
<p>Desarrollado por alumnos de la EESTN°1</p>