<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<div class="panel">
            <aside>
                <h2>Panel administrador</h2>
                <hr />
                <div class="botones">
                    <a href="#">Libros</a>
                    <a href="#">Usuarios</a>
                    <a href="#">Categorias</a>
                </div>
                <hr />
                <div class="botones">
                    <a href="#">Documentacion</a>
                </div>
            </aside>
            <main>
                <nav>
                    <a href="#">Perfil</a>
                </nav>
                <section>dsadsdsadsssssss</section>
            </main>
        </div>

        <script src="js/cambiarTema.js"></script>
	</body>
</html>
