.logeoFondo {
    z-index: 1;
}

.logeoFondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -50;
    filter: brightness(45.66666%)
}

.logeoHeader {
    position: absolute;
    margin: 40px 0px 0px 70px
}

.logeoHeader a {
    font-weight: bold;
    font-size: 22px;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.logeoForm {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logeoForm form {
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 10px;
    padding: 25px;
    width: 400px;
    max-width: 100%;
    z-index: 100;
    box-shadow: 0px 3px 100px -20px rgba(0,0,0);
}

.logeoForm h1 {
    margin-bottom: 20px;
}

.logeoForm form label {
    font-size: 24px;
}

.logeoForm form button {
    border-radius: 5px;
    background-color: rgb(228, 114, 0);
    color: #fff;
    padding: 10px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.logeoForm form button:hover {
    background-color: rgb(184, 92, 0);
}

.logeoForm form input {
    border: none;
    background-color: #252525;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffffb9;
    padding-left: 10px;
    margin-bottom: 35px;
    transition: border 0.3s ease;
}

.logeoForm form input:focus {
    border: none;
    border-bottom: 2px solid rgb(238, 143, 0);
    outline: none;
}

.logeoForm a {
    margin-top: 20px;
    z-index: 100;
    color: #fff;
}